@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* /* This is the universal selector */ {
    
    /* This eliminates space between borders */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: #1F2937*/
    
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.hero-image {
    width: 500px;
    height: 300px;
}

h1 {
    font-weight: 800;
    margin-bottom: 10px;
}

.navbar {
    background-color: rgb(124, 212, 228);
    color: white;
}

.nav-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.hero-text button {
    width: 95px;
    background: rgb(0, 183, 255);
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}

.hero-text p {
    margin-bottom: 10px;
}

.nav-link {
    margin-top: 15px;
}

.nav-logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.nav-logo {
    margin-left: 150px;
}

.hero-text {
    margin-left: 150px;
    margin-right: 150px;
    width: 400px;
    height: 200px;
    margin-top: 100px;
}

.hero {
   display: flex;
   color: white;
   background-color: rgb(124, 212, 228);
   padding-top: 50px;
   padding-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
}



.photos {
    background-color: #ffff;
    display: flex;
}

.quote {
    background-color: grey;
}

.sign-up {
    background-color: white;
}

