@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* /* This is the universal selector */ {
    
    /* This eliminates space between borders */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: #1F2937*/
}

ul {
    list-style: none;
    font-size: 18px;
}

img {
    width: 100%;
}

.hero-image {
    width: 500px;
    height: 300px;
}

.hero h1 {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 48px;
}

h2 {
    display: block;
}

.quote h6 {
    margin-top: 10px;
    margin-left: 500px;
}

.photos {
    flex-direction: column;
}

.sushi-info {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.navbar {
    background-color: rgb(124, 212, 228);
    color: white;
}

.nav-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}



.hero-text button {
    width: 95px;
    background: rgb(0, 183, 255);
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}

.hero-text p {
    margin-bottom: 10px;
}

.nav-link {
    margin-top: 15px;
}

.nav-logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.nav-logo {
    margin-left: 150px;
}

.hero-text {
    margin-left: 150px;
    margin-right: 150px;
    width: 400px;
    height: 200px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
   display: flex;
   color: white;
   background-color: rgb(124, 212, 228);
   padding-top: 50px;
   padding-bottom: 100px;
   justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.sushi-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px 20px 0px 20px;
    border-radius: 20px;
    border: 5px solid rgb(124, 212, 228)

}

.quote h1{
    font-weight: lighter;
}

.quote h6 {
    font-weight: bolder;
}

.quote {
    display: flex;
}


.photos {
    background-color: #ffff;
    display: flex;
}

.photos h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
}

.photos p {
    text-align: center;
}

.quote {
    background-color: rgb(182, 182, 182);
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.sign-up {
    background-color: white;
}

#quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

#quote-name {
    font-size: 18px;
}

.sign-up {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 200px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;

    background-color: rgb(132, 238, 241)
    
}

.sign-up-button button {
    width: 95px;
    background: rgb(132, 238, 241);
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    background-color:  rgb(124, 212, 228);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}